#products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#products-section .product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#products-section .product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#products-section .product h3 {
    font-size: 1.5em;
    color: #333;
}

#products-section .product p {
    font-size: 1em;
    color: #666;
}
